.c-lists
  list-style  none

.c-lists_item
  background #ddd
  border-bottom #999 1px solid

.c-lists_link
  display block
  padding 8px
  text-decoration none
  color: #333

.c-lists_text
  vertical-align middle
  line-height 1.2

.c-lists_icon
  margin-left 4px
  vertical-align middle
