.c-tabs
  display flex
  list-style  none

.c-tabs_item
  background #ddd
  margin-left 1px
  &:first-child
    margin-left 0

.c-tabs_link
  display block
  padding 8px
  text-align center
  text-decoration none
  color: #333

.c-tabs.-justify
  .c-tabs_item
    flex 1
