header.l-header
  .l-header_inner
    .p-header
      .p-header_brand
        img(src='/resources/img/common/logo.svg' alt='LOGO')
      nav.p-header_nav
        ul.c-tabs.-justify
          li.c-tabs_item
            a.c-tabs_link(href='#')
              span.c-tabs_text Overview
          li.c-tabs_item
            a.c-tabs_link(href='#')
              span.c-tabs_text Product
          li.c-tabs_item
            a.c-tabs_link(href='#')
              span.c-tabs_text Solution
          li.c-tabs_item
            a.c-tabs_link(href='#')
              span.c-tabs_text Support
