nav.l-nav
  ul.c-lists
    li.c-lists_item
      a.c-lists_link(href='#')
        span.c-lists_text(href='#') Menu 1
    li.c-lists_item
      a.c-lists_link(href='#')
        span.c-lists_text(href='#') Menu 2
    li.c-lists_item
      a.c-lists_link(href='#')
        span.c-lists_text(href='#') Menu 3
    li.c-lists_item
      a.c-lists_link(href='#')
        span.c-lists_text(href='#') Menu 4
        span.c-lists_icon
          span.c-sprite-icon.-star
    li.c-lists_item
      a.c-lists_link(href='#')
        span.c-lists_text(href='#') Menu 5
